{% extends 'base.html' %}
{% block body %}

<div class="card-deck" style="display: flex; justify-content: center;">

  <div class="card main-background" style="padding: 50px; margin: 50px; text-align: center;">
    <h2>Авторизация</h2>

    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-inline" style="display: flex; align-items: baseline; padding-top: 15px">
        {{ field }}
      </div>
      {% endfor %}
      <div style="padding-top: 30px; display: flex; justify-content: center;">
      <button type="submit" class="btn btn-primary">Ввойти</button>
    </div>
    </form>

    <a href="{% url 'signup' %}" style="padding-top: 30px; display: flex; justify-content: center;">Регистрация</a>
  </div>

</div>

{% endblock %}
