{% extends 'base.html' %}
{% block body %}

<div class="card-deck" style="display: flex; justify-content: center;">
	<div class="card main-background" style="padding: 50px; margin: 50px;">
		<h2 style="text-align: center;">Регистрация</h2>
		<form method="POST">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group" style="display: flex; align-items: baseline; padding-top: 15px; flex-direction: column;">
				{{ field }}
				<p>
					{% if field.help_text %}
					<small style="color: green">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
					<br /><small style="color: red">{{ error }}</small>
					{% endfor %}
				</p>
			</div>
			{% endfor %}
			<div style="padding-top: 30px; display: flex; justify-content: center;">
				<button type="submit" class="btn btn-success">Зарегистрироваться</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
